---
import { join } from "node:path";
import { AstroFont } from "astro-font";
import "../styles/app.css";
import SpeedInsights from "@vercel/speed-insights/astro";

interface Props {
	title: string;
	description?: string;
	image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image } = Astro.props;
---

<head>
  <!-- Font loading -->
  <AstroFont
    config={[
      {
        name: "Tinos NF",
        preload: true,
        display: "swap",
        selector: "body",
        fallback: "serif",
        src: [
          {
            path: join(
              process.cwd(),
              "public",
              "Tinos",
              "TinosNerdFont-Regular.ttf",
            ),
            style: "normal",
            weight: "normal",
          },
          {
            path: join(
              process.cwd(),
              "public",
              "Tinos",
              "TinosNerdFont-Italic.ttf",
            ),
            style: "italic",
            weight: "normal",
          },
          {
            path: join(
              process.cwd(),
              "public",
              "Tinos",
              "TinosNerdFont-Bold.ttf",
            ),
            style: "normal",
            weight: "bold",
          },
          {
            path: join(
              process.cwd(),
              "public",
              "Tinos",
              "TinosNerdFont-BoldItalic.ttf",
            ),
            style: "italic",
            weight: "bold",
          },
        ],
      },
      {
        name: "Galnoy",
        preload: true,
        display: "swap",
        fallback: "serif",
        src: [
          {
            path: join(process.cwd(), "public", "Galnoy-MediumText.otf"),
            style: "normal",
            weight: "normal",
          },
          {
            path: join(process.cwd(), "public", "Galnoy-BoldHeadline.otf"),
            style: "normal",
            weight: "bold",
          },
          {
            path: join(process.cwd(), "public", "Galnoy-LightHeadline.otf"),
            style: "normal",
            weight: "light",
          },
        ],
      },
      {
        name: "Soria",
        preload: true,
        display: "swap",
        selector: "h1",
        fallback: "serif",
        src: [
          {
            path: join(process.cwd(), "public", "Soria.ttf"),
            style: "normal",
            weight: "bold",
          },
        ],
      },
    ]}
  />

  <!-- Global Metadata -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="generator" content={Astro.generator} />

  <!-- Canonical URL -->
  <link rel="canonical" href={canonicalURL} />

  <!-- Primary Meta Tags -->
  <title>{title}</title>
  <meta name="title" content={title} />
  {description && <meta name="description" content={description} />}

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={title} />
  {description && <meta property="og:description" content={description} />}
  {image && <meta property="og:image" content={new URL(image, Astro.url)} />}

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:title" content={title} />
  {description && <meta property="twitter:description" content={description} />}
  {image && <meta property="twitter:image" content={new URL(image, Astro.url)} />}

  <slot />
  <SpeedInsights />
</head>
