---
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"book" | "blog">["data"];

const isBookPostGuard = (
  props: Props,
): props is CollectionEntry<"book">["data"] => {
  return (props as CollectionEntry<"book">["data"]).subtitle !== undefined;
};

const isBookPost = isBookPostGuard(Astro.props);

const title = Astro.props.title;
const subtitle = isBookPost ? Astro.props.subtitle : undefined;
const authors = isBookPost ? Astro.props.authors : undefined;
const releaseDate = isBookPost ? Astro.props.releaseDate : undefined;

const hasAuthors = Boolean(authors?.length);

const titleWithoutWhiteSpace = title.replaceAll(" ", "").toLowerCase();
---

<div class="book-heading">
  <h1
    class="text-pretty"
    style=`view-transition-name: --header-${titleWithoutWhiteSpace};`
    data-testid="heading-book"
  >
    {title}
  </h1>
  {subtitle && <p class="subtitle">{subtitle}</p>}
  {
    (hasAuthors || releaseDate) && (
      <div class="authors">
        {" "}
        {hasAuthors && (
          <ul>
            {(authors || []).map((author: string) => (
              <li set:html={author.trim()} />
            ))}
          </ul>
        )}
        {hasAuthors && releaseDate && ", "}
        {releaseDate && <span>{releaseDate}</span>}
      </div>
    )
  }
</div>

<style>
  h1 {
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: min(2.5cqw, 1rem);
    font-size: 3.2rem;
    line-height: 1;
  }

  .subtitle {
    font-style: italic;
    font-size: 1.8rem;
    display: block;
    line-height: 1;
    &:before {
      display: none;
    }
  }

  .book-heading {
    margin-bottom: min(10cqw, 4rem);
  }

  div.authors {
    display: inline;
    margin-top: calc(var(--heading-margin-bottom) * -1.01);
    margin-bottom: calc(var(--heading-margin-bottom) - 1ch);
    padding: 0px;
    color: var(--color-foreground-subtle);
    font-size: 1.1rem;

    & > ul {
      font-size: inherit;
      display: inline;
      & > li {
        display: inline;

        & > li {
          &:not(:last-child):after {
            content: ", ";
          }

          &:nth-last-child(2):after {
            content: " und ";
          }

          &:last-child:after {
            content: "";
          }
        }
      }
    }
  }
</style>
