---
import BaseHead from "../components/BaseHead.astro";
import { GOATCOUNTER_URL } from "../consts";

type Props = {
  lang: "de" | "en";
  title: string;
  description?: string;
};

const pages: { label: string; href: string }[] = [
  { label: "Über mich", href: "/about" },
  { label: "Jüngst gelesen", href: "/book" },
  { label: "Jüngst geschrieben", href: "/blog" },
  { label: "RSS", href: "/rss.xml" },
];

const { lang, title, description } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <BaseHead title={title + " vom Konstantin"} description={description} />

  <body class="text-foreground">
    <div id="body" class="max-w-full p-2 desktop:p-8 gap-2 w-full container-grid">
            <p class="font-galnoy font-bold desktop:text-3xl hidden desktop:block col-start-2 col-span-1 row-span-2">
              Konstantin Kovar
            </p>
        <nav
          class="hidden desktop:block col-start-2 col-span-1 row-span-5"
        >
          <ul
            class="grid subgrid desktop:gap-8"
          >
            {
              pages.map(({ label, href }) => (
                <li class="w-full p-px h-content bg-linear-to-r from-foreground via-40% bg-size-[140%] bg-right hover:bg-right via-foreground to-background rounded-l-sm transition-[background-position] duration-1000">
                  <a href={href} class="whitespace-nowrap bg-foreground text-background block bg-linear-to-r from-foreground via-20% via-foreground to-background w-full p-2 bg-size-[140%] bg-right hover:bg-right transition-[background-position] duration-1000">{label}</a>
                </li>
              ))
            }
          </ul>
        </nav>
        <div class="h-full row-span-full col-start-3"></div>
      <main
        class="grid grid-cols-subgrid col-start-1 desktop:col-start-4 -col-end-1 row-span-full"
      >
        <slot />
      </main>
        <div class="h-full row-span-full col-start-6"></div>
    </div>

    <script
      is:inline
      data-goatcounter={GOATCOUNTER_URL}
      async
      src="//gc.zgo.at/count.js"></script>
  </body>
</html>

<style>
  @reference "../styles/app.css";

.container-grid {
  @apply grid grid-cols-2 gap-6
         desktop:grid-cols-[auto_215px_80px_repeat(2,385px)_80px_195px_auto]
         grid-rows-[4rem_repeat(5,3rem)_auto]
         }
</style>
